* {
    border: 1px solid red;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main {
    width: 100vw;
}

html {
    font-size: 16px;
    height: 100vh;
}

body {
    background-color: #FFE0E3;
    color: black;
    min-height: 100vh;
    display: grid;
    grid-template: 8% 1fr 5.5rem / 1fr;
    /*flex-direction: column;
    justify-content: space-between;*/
}

main {
    height: 100%;
}

/* Header Section */

header {
    width: 100%;
    /*height: 8%;*/
}

#head-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 100%;
}

header #head-content h2 {
    color: black;
    position: relative;
    text-align: center;
    left: 10%;
    font-size: 1.8rem;
}

#head-content ul {
    display: flex;
    position: relative;
    align-items: center;
    right: 10%;
}

header #head-content ul a {
    color: black;
    text-align: center;
    font-size: 1.6rem;
    padding: 0px 10px;
}

/* Main Section */

#quote-container {
    width: 100%;
    height: 20rem;
    position: relative;
    top: 6%;
    display: flex;;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    background-image: url('../Images/Screenshot\ 2022-07-07\ at\ 17.36.54.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    opacity: .8;
}

#quote-container em {
    width: 100%;
    display: flex;
    justify-content: center;
}

#quote-container h3 {
    width: 80%;
    font-size: 3.5rem;
    opacity: 1;
    color: black;
}

/* Footer Section */

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    /*margin-top: auto;
    height: 5.5rem;*/
    width: 100%;
    background-color: #73ccf5;
}

#foot-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#social-media {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#social-media a {
    width: same-as-height;
    height: 70%;
    align-self: center;
    border-radius: 50%;
}

#social-media a img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.logo {
    background-color: white;
}

/* FOR MOBILE DEVICES */

@media only screen and (min-width: 200px) and (max-width: 450px) {
    html {
        font-size: 9px;
    }
    #head-content ul {
        right: 2%;
    }
    header #head-content ul a {
        font-size: 1.4rem;
        padding: 0px 5px;
    }
    header #head-content h2 {
        left: 5%;
        font-size: 1.6rem;
    }
    #social-media a {
        height: 35px;
        width: 35px;
        min-width: 35px;
    }    
}